.main{
    display: block;
    margin-top: auto;
    background-color: brown;
}
.h1{
    display:contents;
    margin-left: 0px;
    margin-right: 20px;
    
    <h1 class="French Vanilla"></h1>
    <p>3.00</p>
     background-color: black;
}
.h2{
    <h2 class="hazelnut"></h2>
    
    <h3 class="Mocha"></h3>
}
